@page "/"

<PageTitle>Home</PageTitle>

<div class="home-page">
    <div class="welcome-card text-center">
        <h1 class="welcome-heading text-black">
            <span class="emoji">🌤️</span>
            <span class="welcome-heading-text">Welcome to Blazor Weather App</span>
            <span class="emoji">☀️</span>
        </h1>
        <p class="lead text-black">Get real-time weather updates for any city in the world.</p>
        <hr class="my-4">
        <h3 class="city-gradient-text text-black">Click on Check Weather to get weather nowcast and forecast for any city.</h3>
        <div class="d-flex justify-content-center">
            <a href="/weather" class="btn btn-lg btn-primary mt-3">Check Weather</a>
        </div>
    </div>
</div>
